@import "tailwindcss";

html{
  scroll-behavior:smooth;
}

body{
  background:#020617;
  color:white;
  font-family:Inter,sans-serif;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}